<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ru.mis.order.mapper.OrderMapper">
    <resultMap id="OrderMap" type="ru.mis.order.model.Order">
        <result column="id" property="id"/>
        <result column="order_status_id" property="orderStatusId"/>
        <result column="customer_name" property="customerName"/>
        <result column="customer_phone" property="customerPhone"/>
        <result column="customer_comment" property="customerComment"/>
        <collection property="items" resultMap="OrderItemMap" columnPrefix="oi_"/>
    </resultMap>
    
    <resultMap id="OrderItemMap" type="ru.mis.order.model.Item">
        <result column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="item_name" property="itemName"/>
    </resultMap>

    <insert id="create" parameterType="ru.mis.order.model.Order" useGeneratedKeys="true" keyProperty="id">
        insert into "order"(order_status_id, customer_name, customer_phone, customer_comment)
        values(#{ord.orderStatusId}, #{ord.customerName}, #{ord.customerPhone}, #{ord.customerComment})
    </insert>

    <select id="readAll" resultMap="OrderMap">
        select ord.id, order_status_id, customer_name, customer_phone, customer_comment
        from "order" as ord
        inner join order_item as oi on oi.order_id = ord.id
    </select>

    <select id="read" resultMap="OrderMap" parameterType="java.lang.Integer">
        select ord.id, order_status_id, customer_name, customer_phone, customer_comment
        from "order" as ord
        inner join order_item as oi on oi.order_id = ord.id
        where ord.id = #{id}
    </select>

    <update id="update" parameterType="ru.mis.order.model.Order">
        update "order"
        set
            order_status_id = #{ord.orderStatusId},
            customer_name = #{ord.customerName},
            customer_phone = #{ord.customerPhone},
            customer_comment = #{ord.customerComment}
        where id = #{ord.id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from "order" as ord
        where ord.id = #{id}
    </delete>

</mapper>